@media only screen and (min-width: 769px) {
  .building-slider {
    position: absolute;
    top: 756px;
    left: 192px;
    width: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.building-title {
  pointer-events: none;
  font-weight: 500;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.664);
}

.slider-arrow {
  transition: all 200ms;
}

.slider-arrow:active {
  transform: scale(1.4);
  color: rgb(206, 220, 247);
}

.slider-arrow:hover,
.slider-arrow:focus {
  color: rgb(170, 196, 243);
  cursor: pointer;
  transform: scale(1.2);
}

@media only screen and (max-width: 768px) {
  .building-slider {
    padding: 0 5vw 3vw 5vw;
    position: fixed;
    bottom: 0px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgba(255, 255, 255, 0.507);
    z-index: 6;
  }

  .slider-arrow {
    transition: all 70ms;
  }

  .slider-arrow:active {
    transform: scale(1.4);
  }

  .building-title {
    font-size: 5vw;
  }
}

@media only screen and (max-width: 768px) and (orientation:landscape){

  .building-slider {
    padding-bottom: 2vw;
    font-size: 3vw;
  }

  .building-title {
    font-size: 4vw;
  }
}
