polyline{
  fill:none;
  stroke-width: 5px;
  stroke-linecap: round;
}

.path {
  stroke: rgba(255, 184, 184, 0.4);
}

.path-current {
  stroke: rgba(255, 124, 124, 0.6);
}

.path:hover {
  cursor: pointer;
  stroke-width: 6px;
}

.path-current:hover {
  stroke-width: 5px;
  cursor: default;
}
