*:focus {
  outline: none;
}

.filters-wrapper {
  margin-top: 20px;
  position: relative;
  float: right;
  z-index: 4;
  width: 30%;
  height: 650px;
  height: min-content;
}

.hide-filters-icon {
  display: none;
}

.filters-wrapper h1 {
  margin: 15px;
  margin-top: -4px;
  padding-bottom: 7px;
  font-size: 35px;
  text-align: left;
  font-weight: 300;
  border-style: solid;
  border-color: rgb(189, 186, 186);
  border-width: 0 0 1px 0;
  pointer-events: none;
}

.filters-list-wrapper {
  overflow: hidden;
  list-style-type: none;
  border-style: solid;
  border-color: rgb(189, 186, 186);
  border-width: 0 0 1px 0;
  padding-top: 0%;
  padding-bottom: 32px;
  margin: 15px;
  margin-top: 30px;
}

.filters-list-wrapper ul {
  overflow: hidden;
  list-style-type: none;
  box-sizing: border-box;
  border-style: solid;
  border-color: rgb(189, 186, 186);
  border-width: 1px 0 0 0;
  padding: 0;
  margin: 0;
}

.filters-list-item {
  border-style: solid;
  border-color: rgb(189, 186, 186);
  border-width: 0 1px 1px 1px;
  width: 100%;
  box-sizing: border-box;
  height: 10%;
  font-size: 20px;
  float: left;
  padding: 5px;
}

.filters-list-item:hover {
  cursor: pointer;
}

.selected {
  background-color: rgba(204, 204, 204, 0.062);
}

.item-angle {
  float: left;
  margin-top: 3px;
  margin-left: 3px;
  color: gray;
}

.non-selected:hover {
  background-color: rgba(204, 204, 204, 0.062);
  cursor: pointer;
}

.filters-list-item:focus {
  outline: none;
  background-color: rgba(204, 204, 204, 0.062);
  cursor: pointer;
}
.info {
  color: rgb(189, 186, 186);
  border-style: solid;
  border-color: rgb(189, 186, 186);
  border-width: 0 1px 0 1px;
}

.help {
  float: left;
  width: 30%;
  height: 5%;
  border-left: none;
  margin-left: 15px;
  padding-right: 5px;
}

.fel-ref {
  float: left;
  width: 20%;
  height: 5%;
  margin-left: 12px;
  padding-right: 15px;
  border-left: none;
}

.docs {
  border-left: none;
  float: left;
  margin-left: 10px;
  width: 20%;
  height: 5%;
  border-right: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.info:hover,
.info:focus {
  color: rgb(49, 49, 49);
  cursor: pointer;
}

.filters-list-item ul {
  margin-top: 10px;
  border-style: dotted;
  border-color: rgb(189, 186, 186);
  border-width: 1px;
  border-right: none;
  border-left: none;
  border-bottom: none;
  overflow: hidden;
  list-style-type: none;
  padding: 10px;
}

.selected-filter-list li {
  margin-bottom: 5px;
  float: left;
  width: 100%;
  text-align: left;
  font-size: 15px;
}

.selected-filter-list li:hover,
.selected-filter-list li:focus {
  outline: none;
  font-weight: 500;
  cursor: pointer;
}

.filter-item-icon {
  float: right;
  margin-right: 10px;
  margin-top: 3px;
}

.img-icon {
  width: 20px;
}

.react-slidedown.filters-dropdown-slidedown {
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

@media only screen and (max-width: 768px) {
  .filters-wrapper {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    z-index: 8;
    margin: 0;
    padding-top: 3vh;
    top: 0;
    left: 100vw;
  }

  .filters-wrapper ul {
    border-width: 0;
  }

  .filters-visible {
    animation: slide-left 200ms;
    left: 0;
  }

  .filters-hidden {
    animation: slide-right 200ms;
    left: 100vw;
    height: 100vh;
  }

  @keyframes slide-left {
    0% {
      left: 100vw;
    }
    100% {
      left: 0vw;
    }
  }
  @keyframes slide-right {
    0% {
      left: 0vw;
    }
    100% {
      left: 100vw;
    }
  }

  .hide-filters-icon {
    display: block;
    margin-top: 1.5vh;
    pointer-events: auto;
  }

  .filters-wrapper h1 {
    pointer-events: auto;
  }

  .filters-list-wrapper {
    border-width: 0;
  }

  .filters-list-item {
    border-width: 0 0 1px 0;
    border-color: rgb(223, 222, 222);
    font-size: 6vw;
  }

  .selected-filter-list li {
    font-size: 5vw;
  }

  .info {
    display: none;
  }
}

@media only screen and (max-width: 768px) and (orientation: landscape) {
  .filters-wrapper{
    top:auto;
    bottom: auto;
  }
  
  .filters-list-item {
    font-size: 4vw;
  }

  .selected-filter-list li {
    font-size: 3vw;
  }
  .filters-visible {
    animation: slide-down 200ms;
    bottom: 0;
  }

  @keyframes slide-down {
    0% {
      bottom: 100vh;
    }
    100% {
      bottom: 0;
    }
  }
}
 