
.lang {
  overflow: hidden;
  position: absolute;
  z-index: 5;
  top: 224px;
  left: 0%;
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-color: rgb(190, 176, 176);
  border-width: 1px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  font-size: 1.3em;
  float: left;
  height: 45px;
  width: 97px;
  box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.2);
}

.lang:focus {
  box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.507);
}

.lang-switch {
  transition: all 500ms;
  color: rgb(190, 176, 176);
  width: 50%;
  height: 100%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.off:hover {
  font-weight: 200;
  cursor: pointer;
  border-width: 2px;
}

.on {
  font-weight: 500;
  color: white;
  background-color: rgb(190, 176, 176);
}

.on:hover {
  cursor: default;
}

@media only screen and (max-width: 48em) {
  .off {
    display: none;
  }
  .lang {
    position: fixed;
    border-radius: 5vw;
    border-style: hidden;
    width: 13vw;
    height: 13vw;
    font-size: 1.6em;
    margin: 5vw;
    top: 37vw;
    left: auto;
    right: 0;
    background-color: rgba(190, 176, 176, 0.651);
    box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.5);
    display: flex;
    transition: all 100ms;
  }
  .lang{
    display:none
  }

  .lang:active {
    transform: scale(1.2);
  }

  .on {
    background-color: rgba(255, 255, 255, 0);
    font-weight: 400;
    width: 100%;
  }
}
  
@media only screen and (max-width: 48em) and (orientation:landscape){
  .lang {
    width:8vw;
    height:8vw;
    font-size: 2em;
    border-radius: 2vw;
    top:0;
    left: 75vw;
    margin: 3vw;
  }
}