.legend-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  padding: 10px 0 10px 2px;
  align-content: space-around;
  pointer-events: none;
  flex-direction: column;
}

.legend-wrapper p{
  text-align: left;
  margin: 10px 0 0px 0;
}

.legend-icon {
  width: 20px;
  height: 15px;
  border-style: none;
  border-radius: 2px;
  float: left;
  margin-top: 5px;
  margin-right: 14px;
}

.verts {
  margin-top: 0px;
  height: 25px;
}

.services {
  background-color: rgb(236, 243, 170);
}
.offices {
  background-color: gray;
}
.classrooms {
  background-color: rgb(170, 196, 243);
}

