.location-banner-wrapper {
  position: absolute;
  z-index: 6;
  height: min-content;
  /* background-color: rgba(0, 0, 0, 0.6); */
  border-style: none;
  border-color: rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  padding: 0;
  pointer-events: none;
  /* box-shadow: 0px -30px 146px -20px rgba(0,0,0,0.68); */
}

.location-banner-top-box {
  position: relative;
  width: min-content;
  min-height: 90px;
  border-width: 2px;
  margin-left: -50%;
  border-color: rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 1px;
  padding-bottom: 2px;
  pointer-events: auto;
  animation: pop-up 200ms;
}

@keyframes pop-up {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

/* .vertical-wrapper {
  width: 150px;
} */

.location-banner-top-box:after {
  position: absolute;
  left: 50%;
  top: 100%;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  margin-left: -20px;
  border-top: 20px solid rgba(0, 0, 0, 0.7);
  content: '';
}

.location-banner-header {
  white-space: nowrap;
  color: white;
  width: auto;
  font-weight: 400;
  font-size: 25px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 0px;
  padding-bottom: 1px;
  border-style: none none solid none;
  border-color: white;
  border-width: 1px;
  display: flex;
}

.location-banner-header h1 {
  padding: 0;
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}

.vertical-header {
  justify-content: center;
}

.location-banner-header:hover {
  cursor: default;
}

.path-icon,
.share-icon {
  margin-left: 40px;
  margin-right: 5px;
  margin-top: -5px;
  transition: all 200ms;
}

.path-icon {
  margin-left: 10px;
}

.share-icon:hover,
.path-icon:hover {
  font-weight: bold;
  cursor: pointer;
}

.share-icon:active,
.path-icon:active {
  transform: scale(1.2);
}

.path-button {
  overflow: hidden;
}

.path-icon-desc,
.share-icon-desc {
  margin: 0;
  margin-right: 6px;
  padding: 0;
  font-size: 10px;
  text-align: right;
  margin-top: -5px;
}

.location-banner-description {
  color: white;
  width: auto;
  font-weight: 400;
  font-size: 15px;
  margin-left: 12px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  cursor: default;
}

@media only screen and (max-width: 768px) {
  .location-banner-wrapper {
    top: 0 !important;
    left: 0 !important;
    position: fixed;
  }

  .location-banner-top-box {
    margin-left: 0;
    width: 100vw;
    height: min-content;
    padding-bottom: 1vh;
    border-radius: 0 0 3px 3px;
  }

  .location-banner-header {
    font-size: 8vw;
    padding-bottom: 2vh;
    padding-top: 2vh;
    text-align: left;
    display: flex;
    justify-content: flex-end;
  }

  .vertical-header {
    justify-content: center;
  }

  .slider-wrapper {
    margin: 0;
    width: 100%;
    padding: 5vh 7vw;
    font-size: 5vw;
  }

  .in-banner-list {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
  }

  .location-banner-header h1 {
    flex-grow: 1;
    max-width: 70vw;
    white-space: initial;
  }

  .share-icon {
    margin-left: 2vw;
  }

  .location-banner-description {
    padding-bottom: 1vh;
    padding-top: 1vh;
    font-size: 5vw;
  }
  .location-banner-top-box:after {
    display: none;
  }
  @keyframes pop-up {
    0% {
      height: 0vh;
    }
    /* 50%{height: 10vh} */
    100% {
      height: 20vh;
    }
  }
}

@media only screen and (max-width: 768px) and (orientation:landscape){

  .location-banner-header {
    font-size: 4vw;
  }

  .location-banner-header h1 {
    max-width: 83vw;
  }

  .location-banner-description {
    font-size: 3vw;
  }

  #search-box {
    flex-direction: row;
  }
}