.dd-wrapper {
  overflow: hidden;
  float: left;
  width: 71px;
  border-color: rgb(190, 176, 176);
  border-style: solid;
  border-width: 1px;
  border-radius: 1px;
  box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.2);
}

.dd-header:focus {
  outline: none;
}

.dd-delimiter {
  float: left;
  width: 40px;
  color: rgb(75, 73, 73);
  text-align: center;
  font-size: 1.9em;
  font-weight: bold;
}

.dd-header {
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.3em;
}

.dd-list {
  overflow: hidden;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: white;
}

.dd-list-item {
  float: auto;
  padding: 5px;
  transition: background-color 1s;
  transition-timing-function: ease;
}

.dd-list-item:hover,
.dd-header:hover,
.dd-header:focus,
.dd-list-item:focus {
  color: white;
  background-color: rgb(190, 176, 176);
  cursor: pointer;
}

.dd-header span {
  float: right;
}

.react-slidedown.my-dropdown-slidedown {
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
